/* p{ */
    /* margin: 50px; */
    /* padding: 50px;
    margin-top: 100px; */
    
    /* border-width: 5px;
    border-color: rgb(223, 49, 49);
    border-style:solid; */
    /* border-radius: 10px; */
    /* border-bottom-left-radius: 150px; */
    /* border-top-right-radius: 150px; */

    /* background-color: aqua;
border: 5px,black,solid; */
/* 
    color: red;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
font-weight: 900;
font-style: italic;
text-align: left;
text-decoration: none; */
/* line-height: 100px;
letter-spacing: 10px;
word-spacing: 10px; */
/* text-transform: lowercase;
text-indent: 20px;
direction: ltr;
font-variant:small-caps; */
/* 
background-image: url(./Food_C247-128.png);
background-size: 50px;
background-repeat: repeat-y; */


/* } */

p{
width: 100px;
height: 100px;
background-color: red;
margin:0px ; 
border-radius: 100px;
margin-bottom: 5px;


}

div{
    background-color: grey;
    width: max-content;
    padding: 10px;
    border: 15px groove black
     
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}