
.container{
    width: 1200px;
    height: 800px;
    background-color: rgb(229, 229, 232);


 

}

body{
    margin: auto;
 
      /* justify-content: flex-end;
      align-items: flex-start; */
   
      
      
}

.header{
    background-color: crimson;
    height: 100px;
      display: flex;
   align-items: center;

}

h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    /* margin: 0px; */
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu{
    background-color:darkred ;
   margin-top: 20px;
   height: 80px;
   display: flex;
   align-items: center;
 
}

.aside1{
    background-color: rgb(196, 5, 5);
    margin-top: 20px;
    width: 300px;
    height: 100px;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */

}

.aside2{
    background-color: brown;
    margin-top: 20px;
    width: 300px;
    height: 170px;
    align-items: center;

}

.maincontent{
    background-color: blueviolet;
    margin-left: 320px;
    margin-right: 200px;
    margin-top: -310px;
    padding-bottom: 275px;
 align-items: center;
}

 .aside3{
    background-color: chocolate;
    margin-left: 1020px;
    margin-right: 20px;
    margin-top: -390px;
     display: flex;
  align-items: center;     
  justify-content: center;

 }
   
 .aside3 h1{
 writing-mode: vertical-rl;
 text-orientation:upright;
padding-right: 90px;
 }