
.container{
    width: 1200px;
    height: 750px;
    background-color: white;


 

}

body{
    margin: 20px;
    /* margin: auto; */
 
      /* justify-content: flex-end;
      align-items: flex-start; */
   
      
      
}

.header{
    background-color: #923158;
    height: 100px;
      display: flex;
   align-items: center;
      margin-right: 20px;

}

h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.menu{
    background-color:#6E1237;
   margin-top: 20px;
   height: 80px;
   display: flex;
   align-items: center;
      margin-right: 20px;
 
}

.aside1{
    background-color: rgb(196, 5, 5);
    margin-top: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
 

}

.aside2{
    background-color: brown;
    margin-top: 20px;
    width: 300px;
    height: 170px;

    /* align-items: center; */

}


 .maincontent{
    background-color: blueviolet;
 
    margin-left: 320px;
    margin-right: 185px;
    margin-top: -310px;
    padding-bottom: 50px;
 /* align-items: center; */
} 

 .aside3{
    background-color: chocolate;
    height: 290px;
    width: 145px;
    float: right;
    margin-right: 20px;
    margin-top: -290px;
     display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center;     /* по вертикали */

    /* display: flex; */

    

    /* margin-left: 1020px;
    margin-right: 20px;
    margin-top: -390px; */
     /* display: flex; */
  /* align-items: center;     
  justify-content: center; */

 }
   
 .aside3-text{
 writing-mode: vertical-rl;
 text-orientation:upright;
padding-right: 70px;
padding: 0px;

 



 /* padding-right: 10px; */



/* padding-right: 90px; */
 /* justify-content: center; 
  align-items: center;    */
 }

 .footer{
    background-color: rgb(22, 22, 219);
    /* margin-top:20px; */
       margin-right: 20px;

 }

 .section1{
    background-color: aquamarine;
margin-left: 70px;
margin-right: 70px;
margin-top: -30px;
height: 120px;


/* align-items: center; */





   
 }

 .section2{
    background-color: burlywood;
margin-left: 70px;
margin-right: 70px;
  height: 120px;
 
/* align-items: center; */

 }
 .section-text{
    padding-top: 20px;
    padding-left: 85px;
 }