/* h1{
    color: red;
} */
/* 
h1{
    color: red;
} */
 /* .one{
    color: red;
 } */
 /* body{
    background-color: blue;
 } */

 /* #nata{
    color: brown;
 } */
 /* #natawa{
    color: blueviolet;
  }
 .one{
    color: green;
}
  h1{
    color: red;
  }

   
  h1{
    color: blueviolet !important;
  }
 
  #natawa{
    color: blue !important;
  } */
