.avatar{
    width: 50px;
}
.navbar{
    background-color: #1B5589;
}

hr{
    margin-left: 150px;
    margin-right: 150px;
   border-width: 2px;
}



p{
    line-height: 10px;
}
.bank{
    width: 100px;
}

.ms-1{
    margin-right: 10px;
}

span,data{
    font-size: 12px;
    font-weight: 500;
   
}


.medal{
    width: 30px;
    // display: flex;
    // flex-direction: column;
}

.one-u{
margin-left: -3px;
}


.one-text{
    border: 2px solid lightgray;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
}

.one-text-right{
    border: 2px solid lightgray;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    margin-left: -10px;

    border-left: none;
    border-bottom: none;
}

.two-text{
    border: 2px solid lightgray;
      width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-right: none;
}


.one-text-left{
    border: 2px solid lightgray;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    margin-right: -10px;
    border-right: none;
    border-top: none;
}

// .data-text-right{
//      border: 2px solid grey;
//     width: 30px;
//     height: 30px;
//     rotate: 45deg;
//     margin-left: -15px;
//     margin-top: 5px;
//     border-left: none;
//     border-bottom: none;
// }



.three-text{
    border: 2px solid lightgray;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
}

.four-text{
    border: 2px solid lightgray;
      width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-left: none;
}

.index-text{
    padding-left: 100px;
    padding-right: 100px;
}
.btn{
    width: 535px;

}

