.conteiner{
    width: 1200px;
    height: 800px;
    background-color: lightgray;
    margin: auto;
    display: flex;
    align-items:center;
    // justify-content: start;
        flex-direction: column; 
     

    .girl{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 30px;
        margin-left: -165px;
          margin-bottom: -30px;
      
    }
.girl-text{
    background-color: chocolate;
    width: 350px;
 margin-left: 20px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;  
    align-items: center;
    
}

.boy{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px;
     margin-right: -165px;
    flex-direction: row-reverse;
    // margin-top: 0px;
     
}

.boy-text{
     background-color: rgb(74, 89, 224);
    width: 350px;
  margin-right: 20px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
   
 
}

}
img {
  width: 70px;
}

 .time-text {
     line-height: 0;
     font-family: Arial, Helvetica, sans-serif;
       
 
}

 .girl .time-text p{
text-align:right;

}
.time-text p{
   color: grey; 
}

span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}