.conteiner{
    width: 1200px;
    height: auto;
  background-color:#ADD8E6;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: center;
 flex-wrap: wrap;
  gap: 30px 30px;
  

//   align-items: flex-end;


 
}



.column1{
    height: 450px;
    width: 30%;
    background-color: #F5F5F5;
    margin-top: 30px;
    // margin-bottom: 30px;
   

    .box1{
    width: 100%;
    height: 150px;
    background-color:#C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;

    

}
    
}
    .column2{
    height: 350px;
    width: 30%;
    background-color: #F5F5F5;
    margin-top: 30px;
    // margin-bottom: 30px;
 
    .box2{
    width: 100%;
    height: 100px;
    background-color: #C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;

}
 
}

.column3{
    height: 400px;
    width: 30%;
    background-color: #F5F5F5;
    margin-top: 30px;
//  margin-bottom: 30px;
 


    .box3{
    width: 100%;
    height: 100px;
    background-color:#C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.column4{
    height: 350px;
    width: 30%;
    background-color: #F5F5F5;
 
  
  
    .box4{
    width: 100%;
    height: 220px;
    background-color:#C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
    
}
    .column5{
    height: 450px;
    width: 30%;
    background-color: #F5F5F5;
   
 
    .box5{
    width: 100%;
    height: 230px;
    background-color: #C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;

}
 
}

.column6{
    height: 700px;
    width: 30%;
    background-color: #F5F5F5;



    .box6{
    width: 100%;
    height: 350px;
    background-color:#C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.column7{
    height: 400px;
    width: 30%;
    background-color: #F5F5F5;

  
    .box7{
    width: 100%;
    height: 100px;
    background-color:#C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
    
}
    .column8{
    height: 450px;
    width: 30%;
    background-color: #F5F5F5;

 
    .box8{
    width: 100%;
    height: 150px;
    background-color: #C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;

}
 
}

.column9{
    height: 350px;
    width: 30%;
    background-color: #F5F5F5;

  
    .box9{
    width: 100%;
    height: 150px;
    background-color:#C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;
}
}


span{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  margin: 30px;


}


.column1,
.column2,
.column3,
.column4,
.column5,
.column6,
.column7,
.column8,
.column9 {

   flex-direction: column;
}





.size-text{
font-size: 45px;
font-family:Arial, Helvetica, sans-serif;
color: #8C8986;
}

// * {
//   box-sizing: border-box;
// }

// .row {
//   display: flex;
//   justify-content: center; /* по вашему */
//   align-items: flex-start;   /* выравнивание по низу */
//   gap: 30px;               /* промежутки между колонками */
//   margin-bottom: 30px;     /* отступ между рядами */
// }

// .row {
//   display: flex;
//   justify-content: space-between; /* равномерный отступ между колонками */
//   margin-bottom: 30px; /* фиксированный отступ между рядами */
// }

// /* У последней строки убираем нижний отступ */
// .row:last-child {
//   margin-bottom: 0;
// }

// /* По ширине колонки */
// .row > div {
//   width: 360px; /* (1200 - 2*30px) / 3 = 360px если отступы около 30px */
//   box-sizing: border-box;
// }
