  /* Контейнер с фиксированной высотой и прокруткой */
.container {
 
  overflow-y: auto;
 background-color:#F5F5F5;
    width: 1200px;
     max-height: 600px; 
    /* height: 800px; */
    margin: auto;
    /* display: flex; */
    /* align-items:center; */
    /* justify-content: center; */
}

 th {
  position: sticky;
  top: 0;
  background-color: #ADD8E6;
  z-index: 10;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}



.nth-child{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
   
td{
     font-family: Arial, Helvetica, sans-serif;
}


/* .last-child{
    background-color: #F5F5F5;
    width: 1100px;
    height: 650px;
}  */




table tr:not(:first-child) td:not(:first-child) {
    background-color: #F5F5F5;
}


table tr:nth-child(even):not(:first-child) td:not(:first-child) {
    background-color: #E9E9E9;
}

table tr:nth-child(odd):not(:first-child) td:not(:first-child) {
    background-color: #F5F5F5; 
}



table {
  border-collapse: collapse;
  width: 100%;
 
}


/* Стили для ячеек */
td, th {
     text-align: center;
      padding: 30px; /* больше отступов */
  font-size: 18px; /* увеличить размер шрифта */
  height: 30px;
}


/* Стили для первой колонки, если нужно */
.nth-child {
  font-weight: bold;
  background-color: #ADD8E6;
}