/* .box{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 5px solid black;
    font-size: 35px;
    display: flex;
    align-items: center; 
    justify-content: center;
   
/* }

.container{
    /* display: flex; */
    /* background-color: blueviolet; */
    /* align-items: center;
    justify-content: space-around; */
    /* height: 700px; */
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    /* flex-flow: row wrap; */
    /* gap: 15px; */ 

/* }
.box:hover:before{
    background-color:green;
 } */





 body {
    background-color: lightgrey;
 }

 .container{
    background-color: aqua;
  width: 1000px;
  height: 600px;
  margin: auto;
 }

.logo{
    height: 100px;


 }

 .header{
    background-color: red;
    height: 100px;
    display: flex;
    align-items: center;

 }

 .menu{
    background-color: green;
    height: 30px;
   

 }
 ul{
     margin: 0%;
     list-style: none;
     display: flex;
  
     justify-content: space-around;
     align-items: center;
     height: 100%;
 }

 ul li a{
    text-decoration: none;
    color: white;
 }

 ul li a:hover{
    color: red;
 }

 .wrapper{
    display: flex;
    height: 400px;
    /* flex-direction: row-reverse; */

 }

 .sodebar{
    width: 30%;
    background-color: beige;
 }

 .main{
    width: 70%;
    background-color: rgb(146, 101, 33);
 }

 .footer{
       height: 100px;
    background-color: blueviolet;
 
 }